{% extends 'base.html.twig' %}

{% block title %}Departements{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/ad.js') }}"></script>
{% endblock %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>Liste des départements</title>
</head>
<body>
<form method="POST">
    <label for="departementSelect">Sélectionnez un département :</label>
    <select id="departementSelect" name="departement">
        {# Boucle pour afficher les options des départements #}
        {% for departement in departements %}
            <option value="{{ departement.code }}">{{ departement.nom }}</option>
        {% endfor %}
    </select>

    <button type="submit" id="rechercherVilles">Selectionnez</button>
</form>
<div id="villesSearchContainer">
  <input type="text" id="villeSearch" placeholder="Rechercher une ville">
  <div id="villesContainer">
    Liste des villes associées au département ICI
  </div>
</body>
</html>
{% endblock %}
